@{
    ViewData["Title"] = "Home Page";
}
<style>
    .loader {
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
</style>
<div id="div_Loader">
    <img src="https://www.boasnotas.com/img/loading2.gif" width="100px" height="100px" alt="loader" class="loader"/>
</div>  
<div class="container-fluid">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <form id="employee-form">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputState">Designation</label>
                            <select id="designation" class="form-control">
                                <option value="0">Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group col-md-2">
                            <label for="inputState"></label>
                            <button type="submit"  class="btn btn-primary form-control" style="margin-top:8px;">Submit</button>
                        </div>
                        </div>

</form>
                </div>
            </div>
            <br />
            <table class="table table-hover">
                <thead class="thead-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chandan</td>
                        <td>Email</td>
                        <td>Age</td>
                        <td>Designation</td>
                        <td>Action</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {

                $('#employee-form').on('submit', function (e) {
                    e.preventDefault();
                    var postData = {
                        "name": $("#name").val(),
                        "email": $("#email").val(),
                        "age": $("#age").val(),
                        "designation": $("#designation").val()
                    }
                    swal({
                        title: 'Do you want to Save ?',
                        showCancelButton: true,
                        showConfirmButton: true,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        confirmButtonClass: 'btn btn-primary',
                        cancelButtonClass: 'btn btn-danger',
                        icon: 'warning',
                        buttonsStyling: true,
                        buttons: true,
                        buttons: ["No", "Yes"]
                    }).then(function (yes) {
                        if (yes) {
                            $.ajax({
                                type: "POST",
                                url: '/api/test/employeeInsert',
                                contentType: 'application/json',
                                data: JSON.stringify(postData),
                                beforeSend: function () {
                                    Show();
                                },
                                success: function (response) {
                                    console.log(response);
                                    Hide();
                                    swal("Message", "Data Saved Successfully!", "success");
                                },
                                error: function() {
                                    swal("Message", "Something went wrong!", "error");
                                }
                            });
                        }
                    });
                });
                
                $.ajax({
                    type: 'GET',
                    url: '/api/test/Designation',
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data);
                        // remove previously loaded options
                        for (i in data) {
                        $('#designation').append('<option value = ' + data[i].id + '>' + data[i].name + '</option>');
                        }
                    }
                });

                $(document).ready(function () {
                    $("#div_Loader").hide();
                });

                function Show() {
                    $('#div_Loader').show();
                }

                function Hide() {
                    $('#div_Loader').hide();
                }
            });

        </script>
